[submodule "PiUART/circle-git"]
	path = PiUART/circle-git
	url = https://github.com/rsta2/circle.git
[submodule "PiUART/src/scalable-font2"]
	path = PiUART/src/scalable-font2
	url = https://github.com/degaart/scalable-font2.git
